{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum exercitationem voluptas molestiae tempore omnis, voluptate cum obcaecati iure hic iusto at architecto dolorum. Hic voluptas impedit similique enim voluptate!
                Accusamus, aspernatur nisi corporis necessitatibus repudiandae atque fugit quia nulla? Quaerat obcaecati consequatur impedit error placeat aliquid quos, ut adipisci, quas, repellendus natus quia dolores neque distinctio quis dolore nam!
                Nam autem nemo consequuntur itaque ipsum commodi at magni amet ullam odio, reprehenderit architecto. Ea alias delectus consequatur quasi saepe et facere, omnis sequi, voluptates, facilis obcaecati voluptas in id.
                Blanditiis delectus ullam, corrupti omnis fuga, quos officiis harum aspernatur nulla ipsa illum aliquid eos libero est labore quas! Culpa dolores odio ipsam perferendis nostrum dolorem officiis voluptatum amet consequuntur?
                Sint delectus cupiditate, tempore id tempora placeat quam! Eveniet voluptatibus iure cumque earum ullam porro quisquam sequi sunt? Iure quia nulla quidem dolore veritatis nisi dolorum ipsam cum quas officia!</p>
                <br>
                <p align="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ipsam quia rerum aliquam natus! Eaque quam suscipit dolor eveniet corporis sit est saepe, sequi, atque quae nemo possimus vitae minima.
                Possimus atque modi illum architecto odio esse! Eius perspiciatis aliquid veniam voluptates unde, hic iste nemo reiciendis delectus voluptatibus placeat similique fugiat tempora sit ratione soluta! Quod a libero unde!
                Incidunt adipisci consequatur accusamus. Quisquam nisi rem vitae quod molestiae voluptatem iure pariatur fuga consequuntur, autem, odit aperiam voluptatum veniam eveniet, magnam minima! Quos labore quibusdam voluptate, nostrum quis repellat.
                Ipsa dicta explicabo veritatis, enim, iste sint debitis velit laboriosam numquam consequuntur nesciunt doloribus tempore aliquam cumque! Aut, architecto quas, alias exercitationem corrupti atque animi illo neque obcaecati accusamus ab!
                Voluptas, praesentium magni necessitatibus quos voluptatum maxime excepturi in et, consectetur quasi ipsum sapiente sit voluptates dolorem voluptatibus amet illum? Dolore, eius ullam. Deserunt eum laborum, at quibusdam perferendis exercitationem.
                Quasi, omnis ex provident expedita nemo, tempore rerum assumenda ad pariatur illo laboriosam. Enim, earum excepturi facilis expedita exercitationem aspernatur assumenda tenetur reprehenderit culpa id, sequi perferendis ad asperiores consequatur.</p>
                <br>
            </div>
        </center>
    </div>
</div>

{% endblock %}