{% extends 'base.html' %}
{% block content %}

<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <center>
            <div class="container">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <br>
                          <br>
                          <br>
                          <h5 class="card-title">{{ product.name }}</h5>
                          <p class="card-text">{{ product.description }}</p>
                          <p class="card-text">{{ product.price }}</p>
                          <p class="card-text">ID: {{ product.id }}</p>
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">Home</a></div>
                          </div>
                          <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
// Check if buttion pressed
$(document).on('click', '#add-cart', function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: "{% url 'cart_add' %}",
    data: {
      product_id: $('#add-cart').val(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json){
      //console.log(json)
      document.getElementById("cart_quantity").
      textContent = json.qty;
    },

    error: function(xhr, errmsg, err){

    }

  });
})



</script>
{% endblock %}